<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.nob.pick.common.config.typehandler.ReportStatusEnumTypeHandler" javaType="com.nob.pick.report.query.dto.enums.ReportStatus"/>
        <typeHandler handler="com.nob.pick.common.config.typehandler.ReportCategoryEnumTypeHandler" javaType="com.nob.pick.report.query.dto.enums.ReportCategory"/>
        <typeHandler handler="com.nob.pick.common.config.typehandler.StringYnTypeHandler" javaType="java.lang.Boolean" jdbcType="VARCHAR"/>
    </typeHandlers>

        <mappers>
            <mapper resource="com/nob/pick/report/query/dao/ReportMapper.xml"/>
        </mappers>

</configuration>