<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nob.pick.dailymission.query.mapper.MemberDailyMissionQueryMapper">
    <resultMap type="com.nob.pick.dailymission.query.dto.MemberDailyMissionQueryDTO" id="dailyMissionByMemberResultMap">
        <id property="id" column="id"/>
        <result property="isCompleted" column="is_completed" typeHandler="com.nob.pick.config.typehandler.StringYnTypeHandler"/>
        <result property="acceptedDate" column="accepted_date"/>
        <result property="dailyMissionId" column="daily_mission_id"/>
        <result property="memberId" column="member_id"/>
    </resultMap>

    <!-- 회원별 일일 미션 조회 -->
    <select id="selectDailyMissionsByMemberId" resultMap="dailyMissionByMemberResultMap">
        SELECT
               id
             , is_completed
             , accepted_date
             , daily_mission_id
             , member_id
          FROM member_daily_mission
         WHERE member_id = #{memberId}
    </select>

    <!-- 회원별 일일 미션 상태에 따른 조회 -->
    <select id="selectDailyMissionsByMemberIdAndStatus" resultMap="dailyMissionByMemberResultMap">
        SELECT
               id
             , is_completed
             , accepted_date
             , daily_mission_id
             , member_id
          FROM member_daily_mission
         WHERE member_id = #{memberId}
           AND is_completed = #{status}
    </select>
</mapper>
